<div class="col-xs-10 col-cs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
   Splurty was built by <a target="_blank" href="http://github.com/colinrubbert">Colin</a> with the intention to remind
   everyone that positivity and letting go of the things that we can't control will lead us to a much happier life. Vigilantly
   wanting to spread the philosophy of Stoicism and mindfulness to follow in the footsteps of some of the most successful people in history.
  </p>
  <br />
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Me.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h3>Colin Rubbert</h3>
    <br />
      <p>
        <i>Capturer of Light, Consumer of Knowledge, Builder of Imagination...</i>
      </p>
      <p>
        I love solving problems, even ones that don't need solving.
        I spend my days exploring new ideas and consume as much knowledge as
        I possibly can. I've cut my teeth as a Computer Repair Techician and
        quickly moved up to being a Systems Administrator managing multiple
        small to medium sized clients.
      </p>
      <p>
        Quickly getting bored I sought out a
        new challenge, Full Stack Web Development. Wanting to learn something
        new I chose to go down this route. Not thinking that I would ever
        enjoy sitting in front of lines of code I was quickly proven wrong
        after I developed my first web application. I've been hooked ever
        since working harder and harder to learn the ins and outs.
      </p>

    <br />
    <br />

      <a href="http://www.colinrubbert.com/">
        <img src="/assets/chrome.png" alt="Colin Rubbert" />
      </a>
      <a href="https://github.com/colinrubbert">
        <img src="/assets/github.png" alt="github" />
      </a>
      <a href="https://twitter.com/colinrubbert">
        <img src="/assets/twitter.png" alt="twitter" />
      </a>
      <a href="https://www.facebook.com/cm.rubbert">
        <img src="/assets/facebook.png" alt="facebook" />
      </a>
    </div>
</div>

<br class="clear">
<br />
<br />
<br />
