<div class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "This isn't enough, I need more inspiration", root_path, :class => 'next-quote' %>
    </div>
    <div class="col-xs-12 col-sm-6 footer-blurb">
      Created for inspiration in the uninspiring village of Winneconne, WI by <a href="http://colinrubbert.com">Colin Rubbert</a></br>
      Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
    </div>
  </div>
</div>
